.WelcomePrivacyGuideHeader {
    height: 60px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }
  
  .WelcomePrivacyGuideHeader__backIcon {
    position: absolute;
    margin-left: 10px;
    padding-top: 5px;
  }
  
  .WelcomePrivacyGuideHeader__title {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 60px;
  }
  
  .WelcomePrivacyGuideHeader__title span {
    color: #050505;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2;
  }
  
  .WelcomePrivacyGuideHeader__closeIcon {
    padding-top: 5px;
    position: absolute;
    margin-left: 490px;
  }

  .WelcomePrivacyGuideHeader__backIcon {
    position: absolute;
    margin-left: 10px;
    padding-top: 5px;
  }