.profile-update-avatar-wrapper {
    position: fixed;
    z-index: 3;
    top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    transition: opacity 0.1s, visibility 0s linear 0.1s;
}

.profile-update-avatar {
    z-index: 51;
    max-width: 700px;
    height: 100%;
    border-radius: 8px;
    padding-top: 5px;
    display: table;
    table-layout: fixed;
    width: 100%;
    outline: none;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}
