.music-list {
    border-radius: 8px;
    margin-top: 30px;
    margin-left: 30px;
    width: 980px;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}