.weather-body-secondary-info-2-wrapper {
    margin-left: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ECF3FF;
    border-radius: 8px;
}

.weather-body-secondary-info-2_max-temperature {
    padding-bottom: 15px;
}

.weather-body-secondary-info-2_min-temperature {
    padding-bottom: 15px;
}

.weather-body-secondary-info-2__value {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-body-secondary-info-2__value > span {
    font-size: 1.05rem;
    font-weight: 300;
    line-height: 1.2;
    color: #1877F2;
}

.weather-body-secondary-info-2__description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-body-secondary-info-2__description > span {
    font-size: 1.05rem;
    font-weight: 300;
    line-height: 1.2;
    color: #1877F2;    
}
