.toast_container {
    position: fixed;
    width: 340px;
    height: 60px;
    z-index: 1000;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.top-right {
    top: 16px;
    right: 16px;
}

.bottom-right {
    bottom: 16px;
    right: 16px;
}

.top-left {
    top: 16px;
    left: 16px;
}

.bottom-left {
    bottom: 16px;
    left: 16px;
}

