.dtldsdualring {
    width: 80px;
    height: 80px;
    display: flex;
    margin-top: 20px;
    margin-left: 200px;
  }
  .dtldsdualring:after {
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #1877F2;
    border-color: #1877F2 transparent#1877F2 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }