.music-player-panel_open__volume-wrapper {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 40px;
}

.music-player-panel_open__volume {
  width: 90%;
  display: flex;
}

.music-player-panel_open__volume > input {
  -webkit-appearance: none;
  width: 90%;
  margin-top: 7.5px;
  border-radius:2px;
  height: 5px;
  outline : none;
  border: none;
}

.music-player-panel_open__volume > input::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  cursor:pointer;
  border-radius: 30px;
  box-shadow: rgb(150, 150, 150) 0px 3px 3px;
  background: white;  
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
  transition:.1s;
}

.music-player-panel_open__volume > input::-webkit-slider-thumb:hover{
  transform: scale(1.2)
}

.music-player-panel_open__volume > input::-moz-range-thumb{
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  cursor:pointer;
  border-radius: 30px;
  box-shadow: rgb(150, 150, 150) 0px 3px 3px;
  background: white;  
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
  transition:.1s;
}

.music-player-panel_open__volume > input::-moz-range-thumb:hover{
  transform: scale(1.2)
}

.music-player-panel_open__volume > input::-ms-thumb{
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  cursor:pointer;
  border-radius: 30px;
  box-shadow: rgb(150, 150, 150) 0px 3px 3px;
  background: white;  
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
  transition:.1s;
}

.music-player-panel_open__volume > input::-ms-thumb:hover{
  transform: scale(1.2)
}


.music-player-panel_open__unmute {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.music-player-panel_open__unmute > svg {
  color: #1877F2;
  width: 20px;
  height: 20px;
}

.music-player-panel_open__unmute:hover {
  cursor: pointer;
}

.music-player-panel_open__unmute:active {
  transform: scale(0.90);
}

.music-player-panel_open__mute {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.music-player-panel_open__mute > svg {
  color: #1877F2;
  width: 20px;
  height: 20px;
}

.music-player-panel_open__mute:hover {
  cursor: pointer;
}

.music-player-panel_open__mute:active {
  transform: scale(0.90);
}


