.create-album-header__button-back {
  display: flex;
  height: 40px;
  color: #1877F2;
  margin-left: 15px;
}

.create-album-header__button-back > svg {
  width: 30px;
  height: 40px;
  color: #1877F2; 
}

.create-album-header__button-back > h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  color: #1877F2;
}  

.create-album-header__button-back:hover > h3 {
  color: #F62A54; 
}

.create-album-header__button-back:hover > svg {
  color: #F62A54; 
}
  
/* ----------------------------------------------------------------- */

.create-album-header__buttons {
  display: flex;
}

.create-album-header__buttons > a {
  display: flex;
  width: 0px;
  text-decoration: none;
}

.create-album-header__button-done {
  display: flex;
  align-items: center;
  text-align: center;
  color: #1877F2;
  margin-left: 900px;

}

.create-album-header__button-done {
  cursor: pointer;
}
  
.create-album-header__button-done > h3 {
  white-space: nowrap;
  margin-left: 5px;
  color: #1877F2;
}
  
.create-album-header__button-done:hover h3 {
  color: #F62A54;
}



/* ------------------------------------------------------------------ */

.create-album-header > h1 {
  margin-left: 55px;
  color: #1877F2;
}

.create-album-header > img {
  margin-left: 55px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.create-album-header__inputs {
  display: flex;
  margin-bottom: 20px;
}

.create-album-header__add-photo:hover label {
  filter: brightness(0.95);
  cursor: pointer;
}

.create-album-header__add-photo:active {
  transform: scale(0.90);
}

.create-album-header__add-photo {
  width: 300px;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 55px;
}
.create-album-header__add-photo > label > img {
  object-fit: cover;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 300px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.create-album-header__add-photo > input {
  display: none;
}

.create-album-header__input-together {
  display: block;
}

.create-album-header__name > input {
    border-radius: 6px;
    border: 1px solid #e9e9e9;
    padding-left: 20px;
    font-size: 250%;
    width: 570px;
    height: 60px;
    margin-top: 20px;
    margin-left: 20px;
    color: #1877F2;
}

.create-album-header__name > input::-webkit-input-placeholder { color: #1877F2 }

.create-album-header__name > input::-moz-placeholder { color: #1877F2}

.create-album-header__name > input:hover {
    cursor: pointer;
    background-color: rgb(214, 233, 255);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.create-album-header__name > input:focus {
  outline: none;
}

.create-album-header__description > input {
  border-radius: 6px;
  border: 1px solid #e9e9e9;
   font-size: 250%;
   padding-left: 20px;
   width: 570px;
   height: 60px;
   margin-left: 20px;
   margin-top: 170px;
   color: #1877F2;
}

.create-album-header__description > input:focus {
  outline: none;
}

.create-album-header__description > input:hover {
    cursor: pointer;
    background-color: rgb(214, 233, 255);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.create-album-header__description > input::-webkit-input-placeholder { color: #1877F2 }

.create-album-header__description > input::-moz-placeholder { color: #1877F2 }

