.profile-update-discard-window-header {
    min-height: 60px;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.profile-update-discard-window-header__title {
    padding: 0 16px;
    display: flex;
    text-align: left;
    justify-content: left;
    align-items: center;
    flex: 1;
}

.profile-update-discard-window-header__title > span {
    color: #050505;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2;
}

.profile-update-discard-window-header__close-icon {
    padding-top: 5px;
    padding-right: 10px;
}