.button-notifications__help {
    width: 100px;
    z-index: 100;
    border-radius: 8px;
    text-align: center;
    position: absolute;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 190px;
    margin-top: 63px;
    background-color: #050505;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    transition: opacity 0.3s, visibility 0s linear 0.3s;
}

.button-notifications__help > span{
    color: #eff2f5;
}