.about__wrapper {
    display: flex;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 60px;
    padding-left: 16px;
    padding-right: 16px;
}

.about {
    display: flex;
    text-align: center;
    justify-content: left;
    min-width: 900px;
    min-height: 380px;
    margin-top: 16px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}