.weather {
    margin-top: 30px;
    background-color: #fff;
    padding: 32px;
    border-radius: 8px;
    border: 1px solid #CED0D4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}