.button-create__wrapper {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 40px;
    margin-right: 8px;
}

.button-create {
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #eff2f5;
    border-radius: 999px;
}

.button-create:hover {
    filter: contrast(80%);
}

.button-create:active {
    transform: scale(0.98);
}

.button-create_active {
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #ECF3FF;
    border-radius: 999px;
}

.button-create_active:hover {
    filter: contrast(80%);
}

.button-create_active:active {
    transform: scale(0.98);
}

.button-create > svg {
    color: #050505;
    margin-top: 8px;
}

.button-create_active > svg {
    color:  #1877F2;
    margin-top: 8px;
}
