.button-find-friends__wrapper {
    min-width: 112px;
    display: flex;
    height: 40px;
    max-height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 8px;
    text-align: center;
    justify-content: center;
    background-color: #eff2f5;
    border-radius: 999px;
}

.button-find-friends__wrapper_active {
    display: flex;
    min-width: 112px;
    height: 40px;
    max-height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 8px;
    text-align: center;
    justify-content: center;
    background-color: #ECF3FF;
    border-radius: 999px;
}

.button-find-friends__wrapper:active {
    transform: scale(0.98);
}

.button-find-friends__wrapper_active:active {
    transform: scale(0.98);
}

.button-find-friends__wrapper:hover {
    filter: contrast(80%);
}

.button-find-friends__wrapper_active:hover {
    filter: contrast(80%);
}

.button-find-friends__wrapper_active > a {
    height: 33px;
    max-height: 33px;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 7px;
    padding-bottom: 0;
    justify-content: center;
    text-align: inherit;
    touch-action: manipulation;
}

.button-find-friends__wrapper > a {
    height: 33px;
    max-height: 33px;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 7px;
    padding-bottom: 0;
    touch-action: manipulation;
}

.button-find-friends {
    font-weight: 600;
    color: #050505;
}

.button-find-friends > span {
    white-space: nowrap;
}

.button-find-friends_active > span {
    white-space: nowrap;
}

.button-find-friends_active {
    font-weight: 600;
    color: #1877F2;
}