.weather-body-powered-by {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-body-powered-by > span > a {
    text-decoration: none;
    color: #1877F2;
}

.weather-body-powered-by > span {
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.1;
    color: #fff;
}