.header-navigation-bar {
    display: flex;
    flex: 1;
    justify-content: center;
    padding-left: 180px;
}

.header-navigation-bar > a  {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-right: 10px;
}
