.music-player-panel_open__control-panel-wrapper {
  margin-top: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.music-player-panel_open__control-panel {
  width: 60%;
  text-align: start;
}

.music-player-panel_open__control-panel > button {
  background-color: #fff;
  border-radius: 60px;
  width: 50px;
  height: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  border: none;
}

.music-player-panel_open__control-panel > button:hover {
  background-color: #eff2f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  cursor: pointer;
}

.music-player-panel_open__control-panel > button:active {
  transform: scale(0.90);
}

.music-player-panel_open__control-panel >  button:focus {
  outline: none;
}

.music-player-panel_open__control-panel > button:disabled {
  cursor: not-allowed;
}


.music-player-panel_open__control-panel > button > svg {
  color: #1877F2;
  margin-top: 5px;
  width: 40px;
  height: 40px;
}