.users-wrapper {
  flex: 1 1;
  padding: 30px 50px;
  display: flex;
  justify-content: center;
}

.users {
  display: block;
  width: 80%;
  max-height: 600px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}