.menu__header__button__messanger {
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 999px;
}

.menu__header__button__messanger > svg {
    color: gray;
    margin-top: 8px;
}

.menu__header__button__messanger:hover {
    background-color: #eff2f5;
}

.menu__header__button__messanger:active {
    filter: contrast(80%);
    transform: scale(0.98);
}

.menu__header__newRoom__help {
    width: 150px;
    z-index: 100;
    border-radius: 8px;
    text-align: center;
    position: absolute;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -5px;
    margin-left: -110px;
    background-color: #050505;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    transition: opacity 0.3s, visibility 0s linear 0.3s;
}

.menu__header__newRoom__help > span {
    color: #eff2f5;
}
