.music-player-panel_close__control-panel {
  margin-top: 12.5px;
  margin-right: 5px;
  margin-left: 5px;
  height: fit-content;
}

.music-player-panel_close__control-panel > button > svg {
  width: 25px;
  height: 25px;
  margin-top: 5px;
  margin-left: -1px;
  color: #1877F2;
}

.music-player-panel_close__control-panel > button {
  background-color: #fff;
  border-radius: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  border: none;
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

.music-player-panel_close__control-panel > button:hover {
  background-color: #eff2f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  cursor: pointer;
}

.music-player-panel_close__control-panel > button:active {
  transform: scale(0.90);
}

.music-player-panel_close__control-panel > button:focus {
  outline: none;
}

.music-player-panel_close__control-panel > button:disabled {
  cursor: not-allowed;
}